#button-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.button {
    background-color: #129575;
    border-radius: 10px;
    width: 243px;
    padding: 1px 12px;  
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}