@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
    width: 24%;
    margin: auto;
    color: white;
    padding: 68px 0px;
    background-color: white;
}